@import url('./animations.css');

:root {
  --color-text-a: #f9f9f9;
  --color-accent-a: #171C11;
  --color-accent-b: #9BC01F;
  --header-height: 48px;
  --transition-a: .2s ease-in;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-accent-a);
  color: #f9f9f9;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.hover-opacity {
  opacity: 1;
  transition: opacity var(--transition-a);
}

.hover-opacity:hover {
  opacity: .6;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--color-accent-a);
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__navigation {
  flex: 1;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.header__link {
  font-family: Inter, Arial;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text-a);
  text-transform: uppercase;
  transition: all var(--transition-a);
}

.header__link_active {
  color: wheat;
  color: var(--color-accent-b);
}

.section {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  padding: calc(var(--header-height) + 16px) 16px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  margin: 0 auto 20px;
  text-align: center;
  font-family: Cubao, Arial;
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--color-accent-b);
}

.section__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section__text-accent {
  font-weight: bold;
}

.section__text {
  margin: 0;
}

.section__list {
  max-width: 800px;
  margin: 0;
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  /* list-style: none; */
  gap: 16px;
}

.section__list-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.section__link {
  text-decoration: none;
  color: var(--color-accent-b);
  opacity: 1;
  transition: opacity .2s ease-in;
}

.section__link:hover {
  opacity: .6;
  color: var(--color-accent-b);
}

.section_name_reasons .section__list {
  padding: 0;
  flex-direction: row;
  list-style: none;
}

.section_name_reasons .section__list > li {
  flex: 1;
}
