@import url('./animations.css');

:root {
  --color-text-a: #f9f9f9;
  --color-accent-a: rgb(24, 28, 18);
  --color-accent-a1: rgba(24, 28, 18, .6);
  --color-accent-b: #9BC01F;
  --header-height: 48px;
  --transition-a: .2s ease-in;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-accent-a);
  color: #f9f9f9;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.hover-opacity {
  opacity: 1;
  transition: opacity var(--transition-a);
}

.hover-opacity:hover {
  opacity: .6;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--color-accent-a);
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.header__navigation {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.header__link {
  font-family: Inter, Arial;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text-a);
  text-transform: uppercase;
  transition: all var(--transition-a);
}

.header__link_active {
  color: wheat;
  color: var(--color-accent-b);
}

.header__burger {
  display: none;
  margin: 0 16px 0 auto;
  padding: 0;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--color-text-a);
  top: 50%;
  left: 0;
  transform-origin: center;
  transition: 0.4s;
}

.header__burger::before {
  transform: translateY(-8px);
}

.header__burger::after {
  transform: translateY(5px);
}

.header__burger_opened::before {
  transform: rotate(-45deg);
}

.header__burger_opened::after {
  transform: rotate(45deg);
}

.section {
  width: 100%;
  /* max-width: 800px; */
  min-height: 100vh;
  min-height: 100dvh;
  padding:
    calc(var(--header-height) + 16px)
    max(calc(50% - 400px), 16px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  margin: 0 auto 20px;
  text-align: center;
  font-family: Cubao, Arial;
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--color-accent-b);
}

.section__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section__text-accent {
  font-weight: bold;
}

.section__text {
  margin: 0;
}

.section__list {
  max-width: 800px;
  margin: 0;
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  /* list-style: none; */
  gap: 16px;
}

.section__list-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.section__link {
  text-decoration: none;
  color: var(--color-accent-b);
  opacity: 1;
  transition: opacity .2s ease-in;
}

.section__link:hover {
  opacity: .6;
  color: var(--color-accent-b);
}

.section_name_reasons {
  padding:
    calc(var(--header-height) + 16px)
    max(calc(50% - 592px), 16px);
}

.section_name_reasons
.section__list {
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  flex: 1;
}

.section_name_reasons
.section__list > li {
  flex: 1;
  min-width: 200px;
}

.section_name_reasons
.section__text-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

/* .section_name_cover {
  background-image: url(../images/screen.jpg);
} */

@media screen and (max-width: 1024px) {
  .header__navigation {
    position: fixed;
    justify-content: end;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition-a);
  }

  .header__navigation_visible {
    visibility: visible;
    opacity: 1;
  }

  .header__navigation::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent-a1);
    opacity: 0;
    transition: opacity var(--transition-a);
    backdrop-filter: blur(10px);
  }

  .header__navigation_visible::before {
    opacity: 1;
  }

  .header__list {
    padding-top: var(--header-height);
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
    min-width: 320px;
    background-color: var(--color-accent-a);
    transform: translateX(100%);
    transition: transform var(--transition-a);
    z-index: 1;
  }

  .header__navigation_visible
  .header__list {
    transform: translateX(0%);
  }

  .header__link {
    font-size: 16px;
  }

  .header__burger {
    display: block;
  }
}