@import url('./animations.css');

:root {
  --color-text-a: #f9f9f9;
  --color-accent-a: rgb(24, 28, 18);
  --color-accent-a1: rgba(24, 28, 18, .6);
  --color-accent-b: #9BC01F;
  --header-height: 48px;
  --transition-a: .2s ease-in;
  --drop-shadow-a: drop-shadow(0 0 .5em);
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-accent-a);
  color: #f9f9f9;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.hover-opacity {
  opacity: 1;
  transition: opacity var(--transition-a);
}

.hover-opacity:hover {
  opacity: .6;
}

.glass-container {
  position: relative;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  overflow: hidden;
}

.glass-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  background: linear-gradient(to left, rgb(255, 255, 255, .05), transparent);
  transform: skewX(45deg) translateX(0);
  z-index: -1;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent-a1);
  z-index: -1;
}

.header {
  /* height: var(--header-height); */
  min-height: 48px;
  min-width: 48px;
  display: flex;
  margin: 8px 8px 0;
  /* padding: 16px; */
  align-items: center;
  position: fixed;
  /* background-color: var(--color-accent-a); */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition:
    min-height .2s linear,
    min-width .2s linear;
}

.header__navigation {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.header__list > li {
  display: flex;
}

.header__link {
  padding: 1em;
  font-family: Inter, Arial;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  color: var(--color-text-a);
  text-transform: uppercase;
  transition: all var(--transition-a);
}

.header__link_active {
  color: wheat;
  color: var(--color-accent-b);
  filter: var(--drop-shadow-a);
}

.header__burger {
  /* box-sizing: content-box; */
  display: none;
  /* margin: 0 16px 0 auto; */
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.header__burger::before,
.header__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--color-text-a);
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: 0.4s;
}

.header__burger::before {
  transform: translate(-50%, -8px);
}

.header__burger::after {
  transform: translate(-50%, 5px);
}

.header__burger_opened::before {
  transform: translateX(-50%) rotate(-45deg);
}

.header__burger_opened::after {
  transform: translateX(-50%) rotate(45deg);
}

.section {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding:
    calc(var(--header-height) + 16px)
    max(calc(50% - 400px), 16px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.section__title {
  margin: 0 auto;
  text-align: center;
  font-family: Cubao, Arial;
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--color-accent-b);
  filter: var(--drop-shadow-a);
}

.section__subtitle {
  margin: 0;
  padding: 16px;
  font-size: 24px;
  text-align: center;
}

.section__title_type_main {
  font-size: 48px;
}

.section__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  margin-bottom: 32px;
}

.section__text-accent {
  font-weight: bold;
}

.section__text {
  margin: 0;
}

.section__list {
  max-width: 800px;
  margin: 0;
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section__list-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.section__link {
  text-decoration: none;
  color: var(--color-accent-b);
  opacity: 1;
  transition: opacity .2s ease-in;
}

.section__link:hover {
  opacity: .6;
  color: var(--color-accent-b);
}

.section_name_reasons {
  padding:
    calc(var(--header-height) + 16px)
    max(calc(50% - 592px), 16px);
  background-image: url(../images/reasons.webp);
  background-size: cover;
  background-position: center;
}

.section_name_reasons
.section__list {
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  flex: 1;
}

.section_name_reasons
.section__list > li {
  flex: 1;
  min-width: 200px;
  padding: 16px;
}

.section_name_reasons
.section__text-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
}

.section_name_cover {
  position: relative;
  background-image: url(../images/cover.webp);
  background-position: center;
  background-size: cover;
}

.section_name_cover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-accent-a1);
  z-index: -1;
}

.section_name_support {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  padding:
    calc(var(--header-height) + 16px)
    max(calc(50% - 592px), 16px);
}

.section_name_support::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #9BC01F;
}

.section_name_support > .section__title {
  grid-row: 1 / 2;
}

.section_name_support > .section__text-wrapper {
  grid-row: 2 / 3;
}

@media screen and (max-width: 648px) {
  .header {
    max-height: 48px;
    max-width: 48px;
    left: auto;
    right: 0;
    transform: translate(0);
  }

  .header > *:not(.header__burger) {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in;
  }

  .header_extended {
    min-height: calc(100dvh - 16px);
    min-width: 304px;
  }

  .header_extended > *:not(.header__burger) {
    opacity: 1;
    visibility: visible;
  }

  .header__list {
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .header__link {
    font-size: 16px;
  }

  .header__burger {
    display: block;
  }
}